@page "/"
    
<h1 style="font-family: 'Times New Roman', Times, serif">Sistema de inventario Pixeles69</h1>

<div class="container-fluid">
    <p class="float-lg-right">
        <span class="oi-target" style="font-size: 60px"></span>
    </p>
    <p class="h4">
        Bienvenido al sistema de inventario Pixeles69
    </p>

</div>